* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
	/*background-color: #B7B7B7;*/
}
@font-face {
    font-family:Lemonmilk;
    src: url(../fontcollection/LemonMilk.otf);
}

@font-face	{
	font-family:laneposh;
	src: url(../fontcollection/LANEPOSH.ttf);
}

@font-face	{
	font-family:chunky;
	src: url(../fontcollection/ChunkfiveEx.ttf);
}

@font-face	{
	font-family:roboto;
	src: url(../fontcollection/Roboto.ttf);
}
/*#151110 licorice*/
/*#02A791 persiangreen*/
/*#FBBA0A selectiveyellow*/
/*#ED5C66 lightcarminepink*/
/*#C6B69F khaki*/
body {
	background-color: #151110 /*licorice*/;
	height: auto;
	font-family: roboto;
	text-align: justify;
	color: #C6B69F /*khaki*/;
}


 h1, h2, h3, h4, h5, h6 {
	font-family:Lemonmilk;
}

header	{
	width: 100%;
	padding: 0;
}

a, a:hover {
	text-decoration: none;
	color: #02A791 /*persiangreen*/;
	transition: 1.5s;
}

#logo {
	max-width: 30px;
	max-height: 30px;
}

.intro-1 {
	padding-left: 15px;
	text-align: center;
	margin: 0;
}

#port {
	font-family: laneposh;
	font-size: 2em;
	letter-spacing: 2px;
	margin-top: 8px;
	transition: 0.5s;
}

.intro-1 {
	margin-top: 5px;
}

#extra {
	text-align: center;
}

.inner-row {
	margin-top: 25px;
}

.intro-1, .intro-2 {
	max-height: 700px;
	width: auto;
	margin: auto 0;
} 

.intro-2 {
	font-size: 1.8em;
	padding-top: 50px;
	padding-left: 30px; 
	padding-right:  30px;
	line-height: 2em;
	font-weight: bold;
}

#intro {
	width: 100%;
	background-color: #02A791 /*persiangreen*/;
	color: #151110 /*licorice*/;
	padding: 5px;
	padding-right: 10px;
	margin-bottom: 30px;
	text-align: right;	
}

.bg-dark, #proj-title, #abt-title {
	width: 100%;
	background-color: #000 /*#3c3744*/;
	color: #fff /*#f2ecd7*/;
	padding: 5px;
	text-align: center !important;
	letter-spacing: 3px;
}

.proj-heading{
	text-align: center;
}

.nav ,.nav-item {
	background-color: #151110 /*licorice*/;
	color: #02A791 /*persiangreen*/;
	font-size: 1.2em;
	letter-spacing: 5px;
}

#port:hover{
	color:#FBBA0A /*selectiveyellow*/;
}

.contenth3{
	color: #02A791 /*persiangreen*/;
	transition-duration: 0.5s, 0.5s;
}

.nav-link:hover {
	color: #ED5C66 /*lightcarminepink*/;
	transition-duration: 0.5s, 0.5s;
}

.intro-3 {
	width: 100%;
	margin-bottom: 50px;
	padding-top: 25px; /*for phones 200px fortabletslandscape*/
	padding-left: 30px;
	padding-right: 30px; /*for phones 60px left & right fortabletslandscape 60px left &right*/
	font-size: 1.3em;
}

.jcon {
	margin-top: 20px;
	height: 150px;
	width: 150px;
}

#proj-title {
	margin: 10px 0px;
	padding-left: 15px;
	text-align: left;
	word-spacing: 10px;
}

.card-proj{
	background-color: #151110 /*licorice*/;
	/*color: #C6B69F khaki;*/
	margin: 10px auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.projectname{
	text-align: center;
	margin: 10px;
	/*padding: 10px;*/
}

.webprojImg{
	width: 100%;
	margin: 25px auto;
	border-radius: 5px;
	/*padding-left: 25px;*/
	display: block;
}

.web-col h3{
	letter-spacing: 5px;
}

.web-col h5, .web-col h6{
	color: #02A791 /*persiangreen*/;
}

.firstP{
	margin-top: 10px !important;
}
.web-col p{
	color: #C6B69F /*khaki*/;;
	margin-left: 10px;
	font-size: 12px;
}

.specs{
	line-height: 5px;
}

.descriptionweb{
	padding: 10px 25px;
	width: 400px !important;
	margin: 0 auto;
	/*background-color: yellow;*/
}

.about-row{
	margin-top: 25px;
}

.img-grap {
	max-width: 300px;
	height: auto;
	padding: 25px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-grap-ls {
	width: 100%;
	padding: 25px;
	margin-bottom: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.accordion {
    background-color: transparent;
    cursor: pointer;
    margin: 0 auto;
    border: none;
    transition: 0.4s;
}

.panel {
    padding: 0 18px;
    background-color: #151110 /*licorice*/e;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    text-align: center;
}

#design	{
	width: 100%;
	background-color: #000;
	color: #fff;
	margin-top: 20px;
	padding: 30px 10px 10px 10px;
	text-align: center;
	letter-spacing: 5px;
}

#design:hover, #proj-title:hover {
	color: #FBBA0A /*selectiveyellow*/;
}

.mono {
	font-family: laneposh;
	text-align: right;
}

.question { 
	margin-left: 25px;
	padding-left: 25px;
 }

 #aboutol {
 	padding-left: 125px;
 }

 .ans {
 	padding-left: 50px;
 	padding-right: 50px;
 	line-height: 1.8em;
 	color: grey;
 }

#qou {
	font-weight: bold;
}

.educ{
	padding: 25px;
	/*background-color: yellow;*/
	height: 200px;
}

.title{
	text-align: center;
	margin: 10px auto !important;
	letter-spacing: 8px;
}

.order{
	text-align: center;
	padding-left: 25px;
	list-style: none;
	line-height: 30px;
}

.progress {
	width: 90%;
	margin-top: 15px;
}
.clear {
	content: "";
	display: block;
	clear: both;
}

.additional, .logue {
	padding: 50px;
	line-height: 2.5em;
}

.additional {
	text-align: center;
}

#block {
	padding-top: 50px;
}

.fas {
	color: #000;
}

#avatar {
	max-width:250px; 
	filter: grayscale(75%);
	height: auto;
	display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer {
	background-color: #151110 /*licorice*/;
	color: #fff;
	text-align: center;
	padding-top: 15px; 
}

.footer-1{
	margin: 10px auto; 
}

.ftrP{
	margin-bottom: 0;
	color: #C6B69F /*khaki*/;
}
.ftrP:nth-child(2){
	margin-bottom: 0;
	color: #02A791 /*persiangreen*/;
}
.ftrP:nth-child(3){
	margin-bottom: 0;
	color: #02A791 /*persiangreen*/;
}
.ftrlink{
	margin: 15px auto;
}

.medias{
	margin-left: 5px;
	margin-right: 5px;
}

#linkedIn, #github, #gitlab, #facebook{
	transition: 1.5s;
	color: #C6B69F /*khaki*/;
	/*padding-bottom: 25px;*/
}

#linkedIn:hover {
	color:#0077B5;
	transition: 0.5s;
}
#github:hover	{
	/*background-color: #fff;*/
	color:#FFF;
	transition: 0.5s;
}
#gitlab:hover	{
	color:#fc6d26;
	transition: 0.5s;
}
#facebook:hover	{
	color:#365899;
	transition: 0.5s;
}



/*extrasmalldevices*/
@media (max-width: 575.98px){
	h1, h2, h3, h4, h5, h6 {
		/*text-align: left;*/
	}

	 #aboutol {
 	padding-left: 15px;
 	}
 	.h4ol{
 		text-align: left;
 	}

 	.webprojImg{
 		padding-left: 0px;
 	}

 	.descriptionweb{
 		width: 100% !important;
 	}
}
